header {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2px 3%;
        background-color: #6785D5;
        box-shadow: 0px 15px 16px -7px rgba(0, 0, 0, 0.1);

        .logo {
            img {
                width: 250px;
                height: 200%;
                object-fit: cover;
            }
        }
        .nav-items {
            display: flex;
            gap: 32px;
            align-items: center;   
            list-style: none;  

        }
        .btn-default {
            border-radius: 24px;
            padding: 10px 22px;
            cursor: pointer;
            background-color: #FFFCED;
            border: none;
            color:black;
            font-family: inherit;
            font-weight: 500;
            transition: all 0.3s ;
            &:hover {
                background-color: #ECB590;
            }
        }
    }
}